#vizCanvas {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  align-items: flex-end;
  height: 330px;
}

.bar {
  width: 0.7rem;
  background: radial-gradient(farthest-side, cornflowerblue, darkslateblue);
  &.active {
    background: radial-gradient(farthest-side, coral, palevioletred);
  }
}

.vizElem > p {
  font-size: xx-small;
}
